/*
.splide {
	button {
		background-color: transparent;
		border: 0;
		line-height: 0;

		&:active,
		&:focus {
			box-shadow: none;
		}
	}
}

.splide__arrows {
	position: absolute;
	width: 100%;
	top: calc( 50% - 20px );
	transform: translateY( -50% );
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.splide__arrow {
	&::before {
		@include icon-mask( 'arrow-right-alt2' );
	}
}

.splide__arrow--prev {
	transform: rotate( 180deg );
}
*/

/*
.splide__wrapper {
	position: relative;

	&.outer-splide-control {
		padding-left: $spacer-xl;
		padding-right: $spacer-xl;
	}
}

.splide__main {
	a {
		&:hover {
			text-decoration: none !important;
		}
	}

	.slider__inner-container {
		margin-bottom: 0;
	}
}

.wp-block-emma-slider {
	.splide__slide {
		height: unset;

		> *:last-of-type {
			margin-bottom: 0;
		}
	}
}

.wp-block-emma-slide {
	> * {
		margin-left: auto;
		margin-right: auto;
		max-width: $content-max-width;
	}
}

.splide-control {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 60px;
	transform: translateY( -50% );

	.dot-nav & {
		top: calc( 50% - #{$spacer} );
	}

	&::before {
		@include icon-mask( 'arrow-left-alt2' );
	}

	&.splide-control__previous {
		left: 0;
	}

	&.splide-control__next {
		right: 0;

		&:before {
			transform: rotate( 180deg );
		}
	}
}
*/

@each $name, $color in $editor-palette {
	.has-#{$name}-arrow-color {
		.splide-control {
			color: $color;

			&:hover {
				color: darken( $color, 15% );
			}
		}
	}
}

/*
.splide__bullets {
	display: flex;
	justify-content: center;
	margin-top: $spacer;

	.splide__bullet {
		display: block;
		height: $spacer;
		width: $spacer;
		margin-left: $spacer-xs;
		margin-right: $spacer-xs;
		border-radius: 50%;
		background-color: $link-color;
		opacity: 0.75;

		&.splide__bullet--active {
			opacity: 1;
		}

		&:hover,
		&:focus {
			background-color: $link-hover-color;
		}
	}
}

.splide__slide--active {
	// fixes image flicker in slides after animation ends
	z-index: 1;
}
*/
