@import "~/node_modules/@splidejs/splide/src/css/core/index.scss";

.splide {
	position: relative;

	&.has-pagination {
		padding-bottom: 2rem;
	}

	button {
		&.ignore-theme {
			cursor: pointer;

			&:focus-visible {
				outline: 3px solid;
				outline-offset: 3px;
				outline-color: currentColor;
			}
		}
	}
}

body { //used to increase specificity
	.splide {
		&.has-outer-arrows {
			width: calc( 100% - var(--layout-spacer-x) * 2 - 70px );
		}
	}
}

.splide__arrow {
	position: absolute;
	display: flex;
	top: 50%;
	z-index: 1;
	padding: 0;
	color: var( --emma-slider--arrow-color, black );
	background-color: transparent;
	border: 0;

	svg {
		fill: currentColor;
	}
}

.splide__arrow--prev {
	left: 1rem;
	transform: scaleX( -1 ) translateY( -50% );

	.has-outer-arrows & {
		left: -40px;
	}
}

.splide__arrow--next {
	right: 1rem;
	transform: translateY( -50% );
	
	.has-outer-arrows & {
		right: -40px;
	}
}

.splide__pagination {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX( -50% );
	padding: 0;
	gap: 0.25rem;
}

.splide__pagination__page {
	position: relative;
	color: var( --emma-slider--pagination-color, gray );
	background-color: currentColor;
	border-radius: 50%;
	border: 0;
	height: 1rem;
	width: 1rem;

	&.is-active {
		z-index: 1;
		color: var( --emma-slider--current-page-color, black );
	}
}

.wp-block-emma-slide {
	> :last-child {
		margin-bottom: 0;
	}
}
